<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBViaa0oPj4uNOo3agAGPYMaCmxXAjredc</string>
	<key>GCM_SENDER_ID</key>
	<string>168288289012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.evetech.glamori.glamori</string>
	<key>PROJECT_ID</key>
	<string>glamori-6cb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>glamori-6cb6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168288289012:ios:4612aa8c0b83c0a7911ea1</string>
</dict>
</plist>